* {
    font-family: sans-serif;
    border: none;
    color: #011A27;

}


.hn_text {
    font-size: 16px;
    width: 66%;
    border: none;
    outline: none;
    padding-bottom: 8px;
    box-sizing: border-box;

}
.bold{font-weight: bold;}

.text_underline {
    width: 66%;
    position: relative;
    /*.text_underline::beforeの親要素*/
    border-top: 2px solid #CACCAA;
    margin-left: 10%;
    /*hn_textの下線*/
}

.mar{line-height: 6;}



.text_underline::before,
.text_underline::after {
    position: absolute;
    bottom: 16px;
    /*中央配置*/
    width: 0px;
    /*アニメーションで0pxから50%に*/
    height: 2px;
    /*高さ*/
    content: '';
    background-color: #E6B624;
    /*アニメーションの色*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.text_underline::before {
    left: 50%;
    /*中央配置*/
}


.text_underline::after {
    right: 50%;
}

.hn_text:focus + .text_underline::before,
.hn_text:focus + .text_underline::after {
    width: 50%;
}




button {
    font-weight: bold;
    margin: 5px 2.5%;
    padding: 10px 5%;
    background-color: cornflowerblue;
    color: #fff;
    justify-content: space-between;

}

.shift_cl {
    background-color: lightcoral;
}

.pop_cl {
    background-color: lightcoral;
}

.colset {
    color: lightcoral;
    font-weight: bold;
}
.colsel {
    color: dodgerblue;
    font-weight: bold;
}

.mondai {
    background-color: deeppink;
    font-size: 20px;
    
}

ruby {
    ruby-position: top;

}

rt {
    transform: translateY(6em);
    color: #063852;
}


.text_underline2 {

    border-bottom: solid;
    border-color: mediumaquamarine;
    border-width: 3px;

}


.line_mon {

    border-bottom: solid;
    border-color:  lightcoral;
    border-width: 5px;

}
.item{font-weight: bolder;
font-size: 20px}

h3{font-size:  22px}



#i_no {
    width: 40px;
}



table {
    margin-left: auto;
    margin-right: auto;
}

table,
td,
th {
    border: solid 1px gray;
    border-collapse: collapse;

}

th {
    background-color: cornflowerblue;
    color: white;
    border-color: dimgray;
    padding: 0 5px;
    width: auto
}

td {
    text-align: center;
}


#asa {
    background: mediumaquamarine;

    color: white;
}

#asa2 {
    background: lightcoral;
    color: white;
}





.mk {
    padding-top: 10px;
    font-size: 15px;
}


.bor {
    font-weight: bold;
    border-bottom: solid navy;
}





.tab {
    display: inline-block;
    /* インラインブロック化 */

    border-color: white;

    margin: 20px 3%;

    padding:
        0.5em 8%;
    /* 内側の余白量 */
    font-weight: bold;
    /* タブの文字を太字にする */
    color: dimgrey;
    /* タブの文字色：*/
    background-color: #F5F5E5;
    /* タブの(非選択状態の)背景色：灰色 */
}

.pp{font-size: 15px;}

/* ▼タブにマウスポインタが載った際の装飾 */
.tab:hover {
    color: white;
    /* タブの文字色*/
    background-color: #CCCCCC;
    /* タブの背景色：淡い緑色 */
    cursor: pointer;
    /* マウスポインタの形状を「指(指し示す形)」にする */
}

/* ▼選択状態のタブ(＝チェックが入っているラジオボタンの隣にあるタブの装飾) */
.radbo:checked + .tab {
    color: white;
    /* タブの文字色 */
    background-color: mediumaquamarine;
    /* タブの背景色 */
}

.radbo {
    justify-content: space-between;
}

.tabbox .radbo {
    display: none;
}


.tabcontent {
    display: none;
    /* 標準では非表示にする */
    padding: 1em;
    /* 内側の余白量 */
    background-color: white;
    /* 背景色：(※選択中のタブの背景色と合わせます) */
}

.row-flex {
    margin: 40px auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.row-flex div {

    flex: 1 1 400px;
    text-align: center;
    padding: 8px;
}



/* ▼チェックが入っているラジオボタンに対応するタブの中身を表示する */
#tabcheck1:checked ~ #tabcontent1 {
    display: block;
}

#tabcheck2:checked ~ #tabcontent2 {
    display: block;
}

#tabcheck3:checked ~ #tabcontent3 {
    display: block;
}
#tabcheck4:checked ~ #tabcontent4 {
    display: block;
}


.radio:checked + .tab {
    z-index: 10;
    /* ※2A */
    position: relative;
    /* ※3 */
}
