<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="CSS/hairetsusty.css">
</head>


<div id="app">

  <h1>OJK参上</h1>
    
    <p id="mmmm" style="float: right">配列の値：に文字を入力し、<span id="asa">水色のボタン</span>を押すと配列に入力した値が反映されます。<br><br><span id="asa2">緑色のボタン</span>は配列の値が削除されます。
    <br><br>PUSHやSHIFTなどのボタンを使って、<br>それぞれのボタン操作の意味を理解しましょう。</p>
    
    
    <div style="float: left">

        
    
        <label for="hn_text">配列名 :</label>
        <input　v-model="hairetsu_name" type="text" class="hn_text">
        <div class="text_underline"> </div>


        <br><br>

        <label for="hn_text">配列の値 ：</label>
        <input　v-model="name" type="text" class="hn_text">
        <div class="text_underline"> </div>

    </div>

    　　　　
 

    <br><br><br><br>

    <button class="push_cl" type="submit" @click="push_bt">PUSH</button>

    　<button class="unshift_cl" type="submit" @click="unshift_bt" style="margin-left: 15px">UNSHIFT</button>

    
    　<button class="shift_cl" type="submit" @click="pop_bt" style="margin-left: 15px">POP</button>
    
    
    　<button class="pop_cl" type="submit" @click="shift_bt" style="margin-left: 15px">SHIFT</button>


    

    <!--  <span>　　要素数は {{yousosu}} です</span>-->


    <br><br><br>
<p class="mk">入力した配列が反映されます。値の下には要素（インデックス番号）も表示されます。</p>
    <span> <ruby>let {{hairetsu_name}}
            <rt>要素(インデックス)</rt>
        </ruby>
        = [<label v-for="(yousomei, index) of inputs">
            <span v-if="index >= 1"> , </span>

            <span class="text_underline2">
                <ruby>{{ yousomei.name }}
                    <rt>{{index}}</rt>
                </ruby>
            </span>
        </label>]
    </span>


    <br><br><br><p class="mk">要素から配列の値を参照できます。数字を変更して、要素と値の関係を理解しましょう</p><br>

    
    
    <span>{{hairetsu_name}}[<input　v-model="index_no" type="number" id="i_no" min="0">]
        は{{atai}}です
    </span>


    <br><br><br>
<p class="mk">配列の値から要素を参照できます。配列の値を選択して要素との関係を理解しましょう</p><br>
    <span><select　v-model="selected" >
            <option v-for="(option,index) of options" v-bind:value="option.value">
                {{option.text}}
            </option>
        </select>
    </span>
    <span>
        は {{hairetsu_name}}[{{sele}}] です
    </span>


    <br><br><br><p class="mk">配列名.lengthが表す数値が表示されます。配列の要素数となります。</p><br>

    <span>{{hairetsu_name}}.lengthは　{{yoo}}　です</span>


    <br><br>

    <table style="float: left">
        <tr>
            <hr>
            <th>インデックス(要素)</th>

            <th>配列の値</th>
            <th>要素数</th>
        </tr>

        <tr v-for="(yousomei, index) of inputs">
            <td>{{index}} </td>
            <td>{{ yousomei.name }} </td>
            <td> {{index+1}}</td>
        </tr>

    </table>
<p class="mk">「要素」「値」「要素数」を表形式で全て見ることが出来ます。</p><br>
    <!--  <hr>
    <br><br>
    <span>for(let i of {{hairetsu_name}}){print(i)}
        <span v-for="(yousomei, index) of inputs">
            {{ yousomei.name }}
        </span>
    </span>-->


</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    let app = new Vue({
        el: '#app',
        data: {
            hairetsu_name: "item",
            name: '',
            inputs: [],
            yousosu: 0,
            index_no: 0,
            selected: '',
            mm:-1,
            kk:0,
            ll:0,
            options: []
           

        },

        methods: {
            push_bt: function() {
                if (!this.name) {
                    window.alert('未入力です')
                    this.name = '';
                    return;
                }


                this.inputs.push({
                    name: this.name,

                });


                this.options.push({
                    text: this.name,
                    value: this.kk
                });



                this.name = '';
                this.kk=this.kk+1


            },
            
             unshift_bt: function() {
                 
                 
                if (!this.name) {
                    window.alert('未入力です')
                    this.name = '';
                    return;
                };
                 
                   this.inputs.unshift({
                    name: this.name,

                });
                 
                this.options.unshift({
  
                    text: this.name,
                    value: this.mm,
                   
                  
                    
                });

                this.ll=this.ll+1;
                 this.mm=this.mm-1;
                this.name = '';
                 


            },
            


            pop_bt: function() {


                this.inputs.pop();


                this.options.pop();
 this.kk=this.kk-1
            
            },
            
             shift_bt: function() {


                this.inputs.shift();


                this.options.shift({
                   
               
                });
this.mm=this.mm+1;
                 this.ll=this.ll-1;

            },


            onChange() {}


        },

        computed: {

            atai: function() {
                if (this.inputs[this.index_no] != undefined) {
                    let no_atai = this.inputs[this.index_no].name;
                    return no_atai;
                }
                return 'undefined ';

            },
            
            sele:function(){
          
                
                 
                 return this.selected+this.ll;
             
           
        },

            yoo: function() {
                
                return this.inputs.length;

            }
        },

    });

</script>

<canvas width="800" height="2000" id="sample" style="background-color:none;">

</canvas>

</html>
