<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="CSS/hairetsusty.css">
</head>


<div id="app">

<br>
    
    <h1>配列学習補助アプリ</h1><br>
    
    
    <div style="float: left">

        
    
        <label for="hn_text">配列名 :</label>
        <input　v-model="hairetsu_name" type="text" class="hn_text">
        <div class="text_underline"> </div>


        <br><br>

        <label for="hn_text">配列の値 ：</label>
        <input　v-model="name" type="text" class="hn_text">
        <div class="text_underline"> </div>

    </div>
<p class="mk"><span class="bor">配列の値：</span>に文字を入力し、<br><br><span id="asa">この色のボタン</span>を押すと配列に入力した値が<span class="bor">追加</span>されます。<br><br><span id="asa2">この色のボタン</span>は配列の値が<span class="bor">削除</span>されます。<br><br>その下の行では入力した配列が反映されます。<br><br>値の下には要素（インデックス番号）も表示されます。</p>
    　　　　
 
<br><br><br>
    <br><br><br><br><br><div class="tabbox">
   <input type="radio" name="tabset" id="tabcheck1" checked class="radbo"><label for="tabcheck1" class="tab">1</label>
   <input type="radio" name="tabset" id="tabcheck2"   class="radbo"      ><label for="tabcheck2" class="tab">2</label>
   <input type="radio" name="tabset" id="tabcheck3"    class="radbo"     ><label for="tabcheck3" class="tab">3</label>
  
    
     <div class="tabcontent" id="tabcontent1"><br><br>  <button class="push_cl" type="submit" @click="push_bt">PUSH</button>

    　<button class="unshift_cl" type="submit" @click="unshift_bt" style="margin-left: 15px">UNSHIFT</button>

    
    　<button class="shift_cl" type="submit" @click="pop_bt" style="margin-left: 15px">POP</button>
    
    
    　<button class="pop_cl" type="submit" @click="shift_bt" style="margin-left: 15px">SHIFT</button>
          <p class="mk" style="float: right">
    PUSHやSHIFTなどのボタンを使って、<br>それぞれのボタン操作の意味を理解しましょう。</p><br><br>
        
<span class="item"> <ruby>let {{hairetsu_name}}
            <rt>要素(インデックス)</rt>
        </ruby>
        = [<label v-for="(yousomei, index) of inputs">
            <span v-if="index >= 1"> , </span>

            <span class="text_underline2">
                <ruby>{{ yousomei.name }}
                    <rt>{{index}}</rt>
                </ruby>
            </span>
        </label>]
    </span>
<br><br><br>
</div>
   
    
    
    <div class="tabcontent" id="tabcontent2">
        <br><br><button class="push_cl" type="submit" @click="push_bt">PUSH</button>
<button class="shift_cl" type="submit" @click="pop_bt" style="margin-left: 15px">POP</button>    
<p class="mk">配列の値から要素、要素から配列の値を参照できます。<br>また、配列名.lengthは要素数を表します。<br>値を選択して要素との関係や文の意味を理解しましょう</p>
  <br><br><span class="item"> <ruby>let {{hairetsu_name}}
            <rt>要素(インデックス)</rt>
        </ruby>
        = [<label v-for="(yousomei, index) of inputs">
            <span v-if="index >= 1"> , </span>

            <span class="text_underline2">
                <ruby>{{ yousomei.name }}
                    <rt>{{index}}</rt>
                </ruby>
            </span>
        </label>]
    </span><br><br><br>
       
        <span> {{hairetsu_name}}[<input　v-model="index_no" type="number" id="i_no" min="0">]
        は{{atai}}です
    </span>
        
       
       <br><br>
<span><select　v-model="selected" >
            <option v-for="(option,index) of options" v-bind:value="option.value">
                {{option.text}}
            </option>
        </select>
    </span>
    <span>
        は {{hairetsu_name}}[{{sele}}] です
    </span>
        
        <br><br>
<span>{{hairetsu_name}}.lengthは　{{yoo}}　です</span>
</div>
   <div class="tabcontent" id="tabcontent3"> <br><br>     
     <button class="push_cl" type="submit" @click="push_bt">PUSH</button>
<button class="shift_cl" type="submit" @click="pop_bt" style="margin-left: 15px">POP</button><p class="mk">「要素」「値」「要素数」を表形式で全て見ることが出来ます。</p><br><br><span id="item"> <ruby>let {{hairetsu_name}}
            <rt style="color: white">要素(インデックス)</rt>
        </ruby>
        = [<label v-for="(yousomei, index) of inputs">
            <span v-if="index >= 1"> , </span>

            <span class="text_underline2">
                <ruby>{{ yousomei.name }}
                    <rt>{{index}}</rt>
                </ruby></span>
        </label>]
    </span><br><br> <table> 
       <tr>
            <hr>
            <th>インデックス(要素)</th>

            <th>配列の値</th>
            <th>要素数</th>
        </tr>

        <tr v-for="(yousomei, index) of inputs">
            <td>{{index}} </td>
            <td>{{ yousomei.name }} </td>
            <td> {{index+1}}</td>
        </tr>

    </table></div>
</div>

    
        
    

    <!--  <span>　　要素数は {{yousosu}} です</span>-->  <br><br><br>
      <br>
    

    <!--  <hr>
    <br><br>
    <span>for(let i of {{hairetsu_name}}){print(i)}
        <span v-for="(yousomei, index) of inputs">
            {{ yousomei.name }}
        </span>
    </span>-->


    </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    let app = new Vue({
        el: '#app',
        data: {
            hairetsu_name: "item",
            name: '',
            inputs: [],
            yousosu: 0,
            index_no: 0,
            selected: '',
            mm:-1,
            kk:0,
            ll:0,
            options: []
           

        },

        methods: {
            push_bt: function() {
                if (!this.name) {
                    window.alert('未入力です')
                    this.name = '';
                    return;
                }


                this.inputs.push({
                    name: this.name,

                });


                this.options.push({
                    text: this.name,
                    value: this.kk
                });



                this.name = '';
                this.kk=this.kk+1


            },
            
             unshift_bt: function() {
                 
                 
                if (!this.name) {
                    window.alert('未入力です')
                    this.name = '';
                    return;
                };
                 
                   this.inputs.unshift({
                    name: this.name,

                });
                 
                this.options.unshift({
  
                    text: this.name,
                    value: this.mm,
                   
                  
                    
                });

                this.ll=this.ll+1;
                 this.mm=this.mm-1;
                this.name = '';
                 


            },
            


            pop_bt: function() {


                this.inputs.pop();


                this.options.pop();
 this.kk=this.kk-1
            
            },
            
             shift_bt: function() {


                this.inputs.shift();


                this.options.shift({
                   
               
                });
this.mm=this.mm+1;
                 this.ll=this.ll-1;

            },


            onChange() {}


        },

        computed: {

            atai: function() {
                if (this.inputs[this.index_no] != undefined) {
                    let no_atai = this.inputs[this.index_no].name;
                    return no_atai;
                }
                return 'undefined ';

            },
            
            sele:function(){
          
                
                 
                 return this.selected+this.ll;
             
           
        },

            yoo: function() {
                
                return this.inputs.length;

            }
        },

    });

</script>

<canvas width="800" height="2000" id="sample" style="background-color:none;">

</canvas>

</html>
